.loginContainer,
.signupContainer {
  margin: 15vh auto 50vh;
  padding: 2rem 0rem;
  width: 25%;
  border-radius: 15px;
  background-color: var(--pink);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.formContainer {
  padding: auto 2rem;
}

.inputContainer {
  padding: 5px;
  width: 50%;
  margin: auto;
}

.input {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.formButton {
  padding: 5px;
  margin: 10px;
  background-color: var(--green);
  border-radius: 5px;
}

.selectInput {
  margin: auto;
  width: 78%;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.selectPlaceholder {
  color: var(--blue);
}
